In [1]:
import pandas as pd
import os
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.wordnet import WordNetLemmatizer
from nltk import pos_tag
from gensim import matutils,corpora, models
from sklearn import cross_validation
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
negative_list = os.listdir("negative_reviews") # names of all files in the negative_polarity dir into a list
positive_list = os.listdir("positive_reviews") # names of all files in the positive_polarity dir into a list

In [3]:
def preprocess(files_list,root_dir,polarity):
    labeled_class = []
    reviews = []
    actual_class =[]
    for j in files_list:
        labeled_class.append(polarity)
        k = str(open( root_dir + '/' + j).read())
        reviews.append(k)
        actual_class.append(str(j.split('_')[0]))
    data = pd.DataFrame({'labeled_class':labeled_class,'review':reviews,'actual_class':actual_class})
    return data

In [4]:
negative_df = preprocess(negative_list,'negative_reviews','negative')
positive_df = preprocess(positive_list,'positive_reviews','positive')

In [5]:
negative_df.head()

,labeled_class,review,actual_class
0,negative,My wife and I just spent a long weekend at the...,t
1,negative,The historic feel of the hotel really had a st...,t
2,negative,I haven't actually stayed at this hotel- yet- ...,t
3,negative,I was very much looking forward to our stay at...,t
4,negative,The hotel is almost always very helpful. This ...,t

In [6]:
positive_df.head()

,labeled_class,review,actual_class
0,positive,The Hard Rock Hotel Chicago has become my favo...,t
1,positive,My wife and I had to stay downtown for event t...,t
2,positive,took a weekend trip with my wife. got a great ...,t
3,positive,We stayed here because of all the great review...,t
4,positive,Just returned from a week in Chicago with the ...,t

In [7]:
target = []
for i in positive_df.index:
    if ((positive_df['labeled_class'][i] == 'positive') & (positive_df['actual_class'][i] == 't')):
        target.append(2)
    elif ((positive_df['labeled_class'][i] == 'positive') & (positive_df['actual_class'][i] == 'd')):
        target.append(1)
    else:
        print('Error!')
positive_df['target'] = target

In [8]:
target = []
for i in negative_df.index:
    if ((negative_df['labeled_class'][i] == 'negative') & (negative_df['actual_class'][i] == 't')):
        target.append(3)
    elif ((negative_df['labeled_class'][i] == 'negative') & (negative_df['actual_class'][i] == 'd')):
        target.append(4)
    else:
        print('Error!')
negative_df['target'] = target

In [9]:
data = positive_df.merge(negative_df,how='outer')

In [10]:
data = data[['review','target']]

In [11]:
data.head()

                                              review  target
0  The Hard Rock Hotel Chicago has become my favo...       2
1  My wife and I had to stay downtown for event t...       2
2  took a weekend trip with my wife. got a great ...       2
3  We stayed here because of all the great review...       2
4  Just returned from a week in Chicago with the ...       2

In [12]:
data.target.value_counts()

4    410
3    400
2    400
1    400
Name: target, dtype: int64

In [13]:
def extract_tokens(df):
    review_tokenized = []
    lmt = WordNetLemmatizer()
    for index, datapoint in df.iterrows():
        tokenize_words = word_tokenize(datapoint["review"].lower(),language='english')
        pos_word = pos_tag(tokenize_words)
        tokenize_words = ["_".join([lmt.lemmatize(i[0]),i[1]]) 
                        for i in pos_word if (i[0] not in stopwords.words("english") and len(i[0]) > 2)]
        review_tokenized.append(tokenize_words)
    df["review_tokenized"] = review_tokenized
    return df

data = extract_tokens(data)
data

,review,target,review_tokenized
0,The Hard Rock Hotel Chicago has become my favo...,2,"[hard_JJ, rock_NN, hotel_NN, chicago_NN, becom..."
1,My wife and I had to stay downtown for event t...,2,"[wife_NN, stay_VB, downtown_RB, event_NN, atte..."
2,took a weekend trip with my wife. got a great ...,2,"[took_VBD, weekend_NN, trip_NN, wife_NN, got_V..."
3,We stayed here because of all the great review...,2,"[stayed_VBD, great_JJ, review_NNS, true_JJ, hi..."
4,Just returned from a week in Chicago with the ...,2,"[returned_VBN, week_NN, chicago_NN, family_NN,..."
5,We stayed at the Swissotel for a special birth...,2,"[stayed_VBD, swissotel_NN, special_JJ, birthda..."
6,I just left the Conrad Chicago and have nothin...,2,"[left_VBD, conrad_NN, chicago_NN, nothing_NN, ..."
7,"This is a great hotel! The views are fabulous,...",2,"[great_JJ, hotel_NN, view_NNS, fabulous_JJ, se..."
8,Got a good deal on a weekend pacage in this Ho...,2,"[got_VBD, good_JJ, deal_NN, weekend_NN, pacage..."
9,"Thirty years ago, we had a tiny ""room"" and ind...",2,"[thirty_CD, year_NNS, ago_RB, tiny_JJ, room_NN..."
10,I stayed here August 20 through 23rd with my s...,2,"[stayed_VBD, august_JJ, 23rd_CD, sixteen_JJ, y..."
11,The Omni Chicago Hotel I am a business woman w...,1,"[omni_JJ, chicago_JJ, hotel_NN, business_NN, w..."
12,"excellent staff and customer service, very cle...",1,"[excellent_JJ, staff_NN, customer_NN, service_..."
13,"I am a fan of Kimpton Hotels, however I have n...",2,"[fan_NN, kimpton_NN, hotel_NNS, however_RB, ne..."
14,I stay at this hotel 2 times a year on busines...,2,"[stay_VBP, hotel_NN, time_NNS, year_NN, busine..."
15,The InterContinental Chicago is conveniently l...,1,"[intercontinental_JJ, chicago_NN, conveniently..."
16,This hotel was wonderful! I am a college stude...,2,"[hotel_NN, wonderful_JJ, college_NN, student_N..."
17,"I love the Ambassador East, true, she's a litt...",2,"[love_VBP, ambassador_NN, east_NN, true_JJ, li..."
18,Beautiful views and awesome service! My husban...,1,"[beautiful_JJ, view_NNS, awesome_JJ, service_N..."
19,"The entrance and room was spacious and modern,...",1,"[entrance_NN, room_NN, spacious_JJ, modern_JJ,..."
20,"We absolutely loved the Knickerbocker. Now, if...",2,"[absolutely_RB, loved_VBD, knickerbocker_NN, e..."
21,I traveled to Chicago with my husband for a ro...,1,"[traveled_VBD, chicago_VB, husband_NN, romanti..."
22,"We booked our room on Priceline, and got a goo...",2,"[booked_VBD, room_NN, priceline_NN, got_VBD, g..."
23,Just returned from a 3 night stay at the Talbo...,2,"[returned_VBN, night_NN, stay_NN, talbott_NN, ..."
24,I stayed at The Talbott for 3 nights on busine...,2,"[stayed_VBD, talbott_NN, night_NNS, business_N..."
25,I booked a room at the Hyatt through Priceline...,2,"[booked_VBD, room_NN, hyatt_NN, priceline_NN, ..."
26,I stayed in the Sofitel Chicago Water Tower ho...,1,"[stayed_VBD, sofitel_NN, chicago_NN, water_NN,..."
27,My first trip back to Chicago in about 7 years...,2,"[first_JJ, trip_NN, back_RB, chicago_VB, year_..."
28,My family really enjoyed this hotel the weeken...,1,"[family_NN, really_RB, enjoyed_VBD, hotel_NN, ..."
29,The Swissotel Chicago is a delight to visit. L...,1,"[swissotel_NN, chicago_NN, delight_NN, visit_V..."
...,...,...,...
1580,Here are some pros and cons: Pros: -Good locat...,3,"[pro_NNS, con_NNS, pro_NNS, -good_NN, location..."
1581,My stay at the Homewood Suites in downtown Chi...,4,"[stay_NN, homewood_NN, suite_NNS, downtown_NN,..."
1582,I would not stay at this hotel again. The room...,4,"[would_MD, stay_VB, hotel_NN, room_NNS, fowl_N..."
1583,Me and my wife stayed at the Omni hotel in Chi...,4,"[wife_NN, stayed_VBN, omni_JJ, hotel_NN, chica..."
1584,My husband and I were planning our 1st year we...,4,"[husband_NN, planning_VBG, 1st_CD, year_NN, we..."
1585,Whilst no doubt being in a good location this ...,4,"[whilst_NN, doubt_NN, good_JJ, location_NN, ho..."
1586,We didn't stay in the hotel a lot because we w...,3,"[n't_RB, stay_VB, hotel_NN, lot_NN, went_VBD, ..."
1587,I am staying here now and actually am compelle...,3,"[staying_VBG, actually_RB, compelled_VBN, writ..."
1588,The Swissotel Chicago is a very mediocre hotel...,4,"[swissotel_NN, chicago_NN, mediocre_JJ, hotel_..."
1589,This was the 2nd time that we have stayed at t...,3,"[2nd_JJ, time_NN, stayed_VBN, hyatt_NN, regenc..."
1590,Just back from spending Memorial Day weekend i...,3,"[back_RB, spending_VBG, memorial_JJ, day_NN, w..."
1591,"Ok, I just feel if you're paying well over $20...",3,"[feel_VB, 're_VBP, paying_VBG, well_RB, 200_CD..."
1592,Outmoded and worn furnishings combine with som...,3,"[outmoded_VBN, worn_JJ, furnishing_NNS, combin..."
1593,I am writing in regards to our stay April 22-2...,3,"[writing_VBG, regard_NNS, stay_JJ, april_JJ, 2..."
1594,I can't recall another time I've had to deal w...,3,"[n't_RB, recall_VB, another_DT, time_NN, 've_V..."
1595,The hotel lost our reservations and then could...,3,"[hotel_NN, lost_VBD, reservation_NNS, couldi_V..."
1596,Used this hotel the first time I was in Chicag...,3,"[used_VBN, hotel_NN, first_JJ, time_NN, chicag..."
1597,Seriously overpriced The room was clean and co...,3,"[seriously_RB, overpriced_VBD, room_NN, clean_..."
1598,I had really high hopes for this hotel. The lo...,4,"[really_RB, high_JJ, hope_NNS, hotel_NN, locat..."
1599,We enjoyed the Hotel Monaco. Great location fo...,3,"[enjoyed_VBD, hotel_NN, monaco_NN, great_JJ, l..."
1600,The hotel was undergoing renovations so it was...,3,"[hotel_NN, undergoing_JJ, renovation_NNS, dirt..."
1601,My son & I joined my husband on a work trip. W...,3,"[son_NN, joined_VBD, husband_NN, work_NN, trip..."
1602,My wife and I went to Chicago to enjoy our wee...,4,"[wife_NN, went_VBD, chicago_VB, enjoy_VB, week..."
1603,After a recent stay at the Talbott Hotel in Ch...,4,"[recent_JJ, stay_NN, talbott_JJ, hotel_NN, chi..."
1604,The Omni Chicago Hotel is not pretty as they a...,4,"[omni_JJ, chicago_JJ, hotel_NN, pretty_RB, adv..."
1605,I had an awful experience here. The staff were...,4,"[awful_JJ, experience_NN, staff_NN, rude_JJ, u..."
1606,We experienced bed bugs in our room while stay...,3,"[experienced_VBD, bed_JJ, bug_NNS, room_NN, st..."
1607,I recently stayed at the Affina Chicago hotel ...,4,"[recently_RB, stayed_VBD, affina_JJ, chicago_J..."
1608,"The room was big and luxurious, befitting the ...",3,"[room_NN, big_JJ, luxurious_JJ, befitting_VBG,..."
1609,"My two girlfriends and I arrived at the hotel,...",3,"[two_CD, girlfriend_NNS, arrived_VBD, hotel_NN..."

no_below is an int that represents a threshold filtering out number of occurrence of the tokens among documents above certain number. e.g. use no_below to filter out words appearing less than 10 times.

On the contrary, no_above is not a int but a float that represents faction of total corpus size. e.g. use no_above to filter out words appearing in more than 10% of all documents

In [14]:
from gensim import matutils,corpora, models

def vectorize_comments(df):
    d = corpora.Dictionary(df["review_tokenized"])
    d.filter_extremes(no_below=5, no_above=1)
    d.compactify()## remove gaps in id sequence after words that were removed
    corpus = [d.doc2bow(text) for text in df["review_tokenized"]]
    corpus = matutils.corpus2csc(corpus, num_terms=len(d.token2id))
    corpus = corpus.transpose()
    return d, corpus

dictionary,corpus = vectorize_comments(data)
print (corpus.shape)

(1610, 5964)

In [15]:
def train_rfc(X,y):
    n_estimators = [100]
    min_samples_split = [2]
    min_samples_leaf = [1]
    bootstrap = [True]
    parameters = {'n_estimators': n_estimators, 'min_samples_leaf': min_samples_leaf,
                  'min_samples_split': min_samples_split}
    clf = GridSearchCV(RandomForestClassifier(verbose=1,n_jobs=-1), cv=4, param_grid=parameters)
    clf.fit(X, y)
    return clf

In [16]:
X_train, X_test, y_train, y_test = cross_validation.train_test_split(corpus, data["target"], test_size=0.3, random_state=2016)
rfc_clf = train_rfc(X_train,y_train)
print ("Accuracy of RF on CV sets :{}".format(rfc_clf.best_score_))

[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.4s finished
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.4s finished
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.2s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.3s finished
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.1s
[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.3s finished
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.0s finished
[Parallel(n_jobs=-1)]: Done  42 tasks      | elapsed:    0.2s

Accuracy of RF on CV sets :0.7054125998225377

[Parallel(n_jobs=-1)]: Done 100 out of 100 | elapsed:    0.4s finished

In [17]:
print("Accuracy of RF on test sets is : {}".format(rfc_clf.score(X_test,y_test)))

Accuracy of RF on test sets is : 0.7018633540372671

[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:    0.0s
[Parallel(n_jobs=4)]: Done 100 out of 100 | elapsed:    0.0s finished

In [18]:
def train_svm(X,y):
    parameters = {'C': [10,15,20,25],'random_state':[2016]}
    clf = GridSearchCV(SVC(), cv=4, param_grid=parameters)
    clf.fit(X, y)
    return clf

In [19]:
svc_clf = train_svm(X_train,y_train)
print("Best accuracy of SVM on CV sets :{}".format(svc_clf.best_score_))
print("Accuracy of SVM on test sets is : {}".format(svc_clf.score(X_test,y_test)))

Best accuracy of SVM on CV sets :0.74622892635315
Accuracy of SVM on test sets is : 0.7412008281573499

In [20]:
def model_test(review):
    a = svc_clf.predict(review)
    if a == 1.0 :
        return('Fake Review (Positive review)')
    elif a == 2.0:
        return('True Review (Positive review)')
    elif a == 3.0:
        return('True Review (Negative review)')
    else :
        return('Fake Review (Negative review)')

In [21]:
for i in X_test[:10]:
    print(model_test(i))
    print('')

Fake Review (Negative review)

True Review (Negative review)

Fake Review (Negative review)

True Review (Positive review)

Fake Review (Negative review)

True Review (Negative review)

Fake Review (Positive review)

True Review (Positive review)

Fake Review (Positive review)

True Review (Positive review)